*__pycache__*
*configs/telegram_bot_todoist*
*configs/taskplayer*
*configs/TaskPlayer*
configs/TaskPlayer_state.json
secrets.py
.idea/
default.profraw
configs/battery.json
configs/ytdl_users.json
ytdl_session.session
ytdl_session.session-journal
todo.txt
configs/
*.session
